# DUB
.dub
docs.json
__dummy.html
docs/

# Binaries
/toml-foolery
toml-foolery.so
toml-foolery.dylib
toml-foolery.dll
toml-foolery.a
libtoml-foolery.a
toml-foolery.lib
toml-foolery-test-*
*.exe
*.o
*.obj
*.lst
/toml-foolery-test-library

# Editor-specific stuff
/.vscode/
